@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6e1e1;
  font-family: "Roboto", sans-serif;
  
}

.cards-container {
  max-width: 1100px;      
  margin: 0 auto;        
  padding: 80px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 30px;
  justify-content: center; 
}
@media (max-width: 992px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

/* ================= CARD ================= */

.card {
  background-color: #ffffff;
  width: 300px;
  height: 375px;
  border-radius: 28px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* ================= TOP ================= */

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding: 8px;
  border: 1px solid #e2e2e2;
  object-fit: contain;
}

.bookmark {
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.bookmark-text {
  font-size: 13px;
  color: #555;
}

.bookmark-icon svg {
  width: 16px;
  height: 16px;
  color: #555;
}

/* ================= CENTER ================= */

.center {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.company {
  font-size: 14px;
  color: #555;
  font-weight: 600;
  margin: 3px;
}

.post-time {
  font-size: 10px;
  color: #999;

}

.job-post {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
}

.center > div:nth-child(3) {
  display: flex;
  gap: 5px;
}

.job-type,
.job-disc {
  background-color: #edebeb;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 6px;
  color: #575454;
}

/* ================= BOTTOM ================= */

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid #eee;
}

.pay {
  font-size: 16px;
  font-weight: 600;
}

.location {
  font-size: 12px;
  color: #888;
  margin-top: 4px;
}

button {
  background-color: #111;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #333;
}