* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,body {
  height: 100%;
  width: 100%;
}
h1{
  position: absolute;
 font-size: 4rem;
  top: 50% ;
  left: 50%;
  transform: translate(-50%,-50%);
  color: rgb(126, 13, 13);

}
p{
  position: absolute;
 font-size: 2rem;
  top: 60% ;
  left: 50%;
  transform: translate(-50%,-50%);
  color: rgb(190, 24, 24);

}

